<h2>ACME Users</h2>
<ul class="users">
  <li *ngFor="let user of users">
    <a routerLink="/detail/{{user._id}}">
      <span class="badge">{{user._id}}</span> {{user.name}}
    </a>
    <button class="delete" title="delete user"
    (click)="delete(user)">x</button>
  </li>
</ul>

<h2>Add a User</h2>
<div>
  <label>Name:
    <input #username />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(username.value); username.value=''">
    add
  </button>
</div>
