<div *ngIf="user">
  <h2>{{ user.name | uppercase }} details</h2>

  <div><span>id: </span>{{user._id}}</div>
  <div><span>name: </span>{{user.name}}</div>
  <button (click)="seeAllUserNotifications()">see notifications</button>
  <h2> Sensors List </h2>

  <ul class="users">
    <li *ngFor="let sensor of sensors">
      <a routerLink="/notifications/{{user._id}}/{{sensor._id}}">
        <span class="badge">{{sensor._id}}</span> {{sensor.name}}
      </a>
      <button class="delete" title="delete sensor"
      (click)="delete(sensor_id)">x</button>
    </li>
  </ul>

  <h2>Add a sensor</h2>
  <div>
    <label>Name:
      <input #sensorName />
    </label>
  </div>
    <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="addSensor(sensorName.value); sensorName.value=''">add sensor</button>
  <button (click)="goBack()">go back</button>
</div>
