<h2>Sensor state change notifications for user {{userName}}</h2>
<ul class="notifications">
  <li *ngFor="let notification of notifications">
    <span class="badge">{{notification.sensorName}}</span> changed from {{notification.previousValue}} to {{notification.currentValue}} @ {{notification.measurementTime}}
  </li>
</ul>
<button (click)="goBack()">go back</button>
