<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
  <img width="150" alt="Angular Logo" src="http://www.hvacdenver.com/images/315_Wiley_ACME_LOGO.JPG">
  <h2>Your sensors have something to say!</h2>
</div>
<nav>
  <a routerLink="/users">Users</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
